openapi: 3.0.0
info:
  title: Policy Bot API
  version: 1.0.0
  description: |
    RAG-based policy assistant API for Caribbean government staff.

    ## Authentication
    All endpoints except `/branding` require authentication via NextAuth session cookies.

    ## User Roles
    - **admin**: Full system access
    - **superuser**: Manage documents/users in assigned categories
    - **user**: Query documents in subscribed categories
  contact:
    name: Policy Bot Support
  license:
    name: Proprietary

servers:
  - url: https://policybot.abhirup.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local Development

tags:
  - name: Chat
    description: Send messages and receive RAG-powered responses
  - name: Threads
    description: Manage conversation threads
  - name: User
    description: User-specific endpoints
  - name: Admin - Categories
    description: Category management (admin only)
  - name: Admin - Documents
    description: Document management (admin only)
  - name: Admin - Users
    description: User management (admin only)
  - name: Admin - Settings
    description: System configuration (admin only)
  - name: Admin - System
    description: System operations (admin only)
  - name: Super User - Documents
    description: Document management for assigned categories
  - name: Super User - Users
    description: User subscription management for assigned categories
  - name: Admin - Tools
    description: Tool configuration management (admin only)
  - name: Admin - Skills
    description: Skills management (admin only)
  - name: Category Prompts
    description: Category-specific prompt configuration
  - name: Super User - Tools
    description: Category-level tool overrides (superuser only)
  - name: Branding
    description: Public branding endpoints

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: NextAuth session cookie

  schemas:
    Thread:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          example: "HR Policy Questions"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        uploadCount:
          type: integer
          example: 1
        categoryIds:
          type: array
          items:
            type: integer
          example: [1, 3]
      required:
        - id
        - title
        - createdAt
        - updatedAt
        - uploadCount
        - categoryIds

    Message:
      type: object
      properties:
        id:
          type: string
          example: "msg_abc123"
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        attachments:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time
      required:
        - id
        - role
        - content
        - timestamp

    Source:
      type: object
      properties:
        documentName:
          type: string
          example: "HR_Handbook_2024.pdf"
        pageNumber:
          type: integer
          example: 12
        chunkText:
          type: string
          example: "Annual leave entitlement is 20 working days..."
        score:
          type: number
          format: float
          example: 0.89
        isWeb:
          type: boolean
          description: True if source is from Tavily web search

    Document:
      type: object
      properties:
        id:
          type: integer
          example: 1
        filename:
          type: string
          example: "HR_Handbook_2024.pdf"
        size:
          type: integer
          description: File size in bytes
          example: 1048576
        chunkCount:
          type: integer
          example: 45
        uploadedAt:
          type: string
          format: date-time
        uploadedBy:
          type: string
          format: email
        status:
          type: string
          enum: [processing, ready, error]
        errorMessage:
          type: string
        isGlobal:
          type: boolean
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAssignment'
      required:
        - id
        - filename
        - size
        - uploadedAt
        - uploadedBy
        - status
        - isGlobal

    CategoryAssignment:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string

    Category:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Human Resources"
        slug:
          type: string
          example: "human-resources"
        description:
          type: string
          nullable: true
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        documentCount:
          type: integer
        superUserCount:
          type: integer
        subscriberCount:
          type: integer
      required:
        - id
        - name
        - slug
        - createdAt

    User:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [admin, superuser, user]
        addedAt:
          type: string
          format: date-time
        addedBy:
          type: string
          format: email
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        assignedCategories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryRef'
      required:
        - email
        - role
        - addedAt
        - addedBy

    Subscription:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string
        isActive:
          type: boolean

    CategoryRef:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string

    ApiError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          enum:
            - AUTH_REQUIRED
            - ADMIN_REQUIRED
            - SUPERUSER_REQUIRED
            - NOT_FOUND
            - VALIDATION_ERROR
            - FILE_TOO_LARGE
            - UPLOAD_LIMIT
            - INVALID_FILE_TYPE
            - DUPLICATE
            - SERVICE_ERROR
        details:
          type: string
          description: Additional context
      required:
        - error

    ProviderStatus:
      type: object
      properties:
        provider:
          type: string
        available:
          type: boolean
        configured:
          type: boolean
        error:
          type: string

    ServiceStatus:
      type: object
      properties:
        name:
          type: string
        model:
          type: string
        provider:
          type: string
        available:
          type: boolean
        configured:
          type: boolean
        error:
          type: string

    Tool:
      type: object
      properties:
        name:
          type: string
          example: "web_search"
        displayName:
          type: string
          example: "Web Search"
        description:
          type: string
        category:
          type: string
          enum: [autonomous, processor]
        enabled:
          type: boolean
        config:
          type: object
        hasDefinition:
          type: boolean
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
      required:
        - name
        - displayName
        - category
        - enabled

    Skill:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "Legal Compliance"
        description:
          type: string
          nullable: true
        promptContent:
          type: string
        triggerType:
          type: string
          enum: [always, category, keyword]
        triggerValue:
          type: string
          nullable: true
        categoryRestricted:
          type: boolean
        isIndex:
          type: boolean
        priority:
          type: integer
        isActive:
          type: boolean
        isCore:
          type: boolean
        tokenEstimate:
          type: integer
        categories:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
      required:
        - id
        - name
        - triggerType
        - isActive
        - isCore

    StarterPrompt:
      type: object
      properties:
        label:
          type: string
          maxLength: 30
          example: "Leave Policy"
        prompt:
          type: string
          maxLength: 500
          example: "What is the annual leave policy?"
      required:
        - label
        - prompt

    CategoryPrompt:
      type: object
      properties:
        categoryId:
          type: integer
        promptAddendum:
          type: string
        starterPrompts:
          type: array
          items:
            $ref: '#/components/schemas/StarterPrompt'
        maxCharactersAvailable:
          type: integer
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Unauthorized"
            code: "AUTH_REQUIRED"

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Admin access required"
            code: "ADMIN_REQUIRED"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Resource not found"
            code: "NOT_FOUND"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Internal server error"
            code: "SERVICE_ERROR"

security:
  - sessionAuth: []

paths:
  /chat:
    post:
      tags:
        - Chat
      summary: Send chat message
      description: Send a message and receive a RAG-powered response with document sources
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: User's question
                  example: "What is the annual leave policy?"
                threadId:
                  type: string
                  format: uuid
                  description: Thread ID
                  example: "550e8400-e29b-41d4-a716-446655440000"
              required:
                - message
                - threadId
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/Message'
                  threadId:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /threads:
    get:
      tags:
        - Threads
      summary: List threads
      description: List all threads for the current user
      operationId: listThreads
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Max threads to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  threads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Thread'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Threads
      summary: Create thread
      description: Create a new conversation thread
      operationId: createThread
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "HR Policy Questions"
                categoryIds:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]
      responses:
        '201':
          description: Thread created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /threads/{threadId}:
    parameters:
      - name: threadId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - Threads
      summary: Get thread
      description: Get a specific thread with all messages
      operationId: getThread
      responses:
        '200':
          description: Thread details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Thread'
                  - type: object
                    properties:
                      messages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Message'
                      uploads:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Threads
      summary: Update thread
      description: Update thread title or categories
      operationId: updateThread
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 100
                categoryIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Thread updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  categoryIds:
                    type: array
                    items:
                      type: integer
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Threads
      summary: Delete thread
      description: Delete a thread and all associated data
      operationId: deleteThread
      responses:
        '200':
          description: Thread deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      threadId:
                        type: string
                      messageCount:
                        type: integer
                      uploadCount:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /threads/{threadId}/upload:
    parameters:
      - name: threadId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags:
        - Threads
      summary: Upload file to thread
      description: Upload a PDF to a thread for compliance checking
      operationId: uploadToThread
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 5MB)
              required:
                - file
      responses:
        '200':
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                  size:
                    type: integer
                  uploadCount:
                    type: integer
        '400':
          description: Validation error or upload limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /user/categories:
    get:
      tags:
        - User
      summary: Get accessible categories
      description: Get categories available to the current user based on their role
      operationId: getUserCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        description:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/subscriptions:
    get:
      tags:
        - User
      summary: Get subscriptions
      description: Get the current user's category subscriptions
      operationId: getUserSubscriptions
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                        isActive:
                          type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

  /branding:
    get:
      tags:
        - Branding
      summary: Get branding settings
      description: Get branding settings (public endpoint, no authentication required)
      operationId: getBranding
      security: []
      responses:
        '200':
          description: Branding settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  botName:
                    type: string
                    example: "Policy Bot"
                  botIcon:
                    type: string
                    example: "policy"
                  availableIcons:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        label:
                          type: string
                        lucideIcon:
                          type: string

  /admin/categories:
    get:
      tags:
        - Admin - Categories
      summary: List all categories
      description: List all categories with statistics (admin only)
      operationId: listCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Categories
      summary: Create category
      description: Create a new category (admin only)
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Human Resources"
                description:
                  type: string
                  example: "HR policies and procedures"
              required:
                - name
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/Category'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Category already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/categories/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Categories
      summary: Get category details
      description: Get category details with users and documents (admin only)
      operationId: getCategory
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/Category'
                  superUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                  subscribers:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                        isActive:
                          type: boolean
                  documentCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Admin - Categories
      summary: Update category
      description: Update a category (admin only)
      operationId: updateCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      slug:
                        type: string
                      description:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Categories
      summary: Delete category
      description: Delete a category (admin only). Documents become unassigned.
      operationId: deleteCategory
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      documentsUnassigned:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/documents:
    get:
      tags:
        - Admin - Documents
      summary: List all documents
      description: List all global policy documents (admin only)
      operationId: listDocuments
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  totalChunks:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Documents
      summary: Upload document
      description: Upload a new policy document with category assignment (admin only)
      operationId: uploadDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 50MB)
                categoryIds:
                  type: string
                  description: JSON array of category IDs
                  example: "[1, 2]"
                isGlobal:
                  type: string
                  description: '"true" to index in all categories'
                  example: "false"
              required:
                - file
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  isGlobal:
                    type: boolean
                  categoryIds:
                    type: array
                    items:
                      type: integer
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/documents/{docId}:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Documents
      summary: Get document details
      description: Get details of a specific document (admin only)
      operationId: getDocument
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Admin - Documents
      summary: Update document
      description: Update document category assignments (admin only)
      operationId: updateDocument
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryIds:
                  type: array
                  items:
                    type: integer
                isGlobal:
                  type: boolean
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  isGlobal:
                    type: boolean
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Documents
      summary: Delete document
      description: Delete a policy document from the global store (admin only)
      operationId: deleteDocument
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      filename:
                        type: string
                      chunksRemoved:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/users:
    get:
      tags:
        - Admin - Users
      summary: List all users
      description: List all users with their subscriptions/assignments (admin only)
      operationId: listUsers
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Users
      summary: Add user
      description: Add a new user with optional subscriptions/assignments (admin only)
      operationId: addUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, superuser, user]
                name:
                  type: string
                subscriptions:
                  type: array
                  items:
                    type: integer
                  description: Category IDs for role="user"
                assignedCategories:
                  type: array
                  items:
                    type: integer
                  description: Category IDs for role="superuser"
              required:
                - email
                - role
      responses:
        '200':
          description: User added
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      email:
                        type: string
                      name:
                        type: string
                      role:
                        type: string
                      addedAt:
                        type: string
                      addedBy:
                        type: string
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      tags:
        - Admin - Users
      summary: Update user role
      description: Update a user's role (admin only)
      operationId: updateUserRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, superuser, user]
              required:
                - email
                - role
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Users
      summary: Remove user
      description: Remove a user from the allowlist (admin only)
      operationId: removeUser
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Cannot remove yourself
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/users/{userId}/subscriptions:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Users
      summary: Get user subscriptions
      description: Get a user's category subscriptions (admin only)
      operationId: getUserSubscriptions
      responses:
        '200':
          description: User subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      email:
                        type: string
                      name:
                        type: string
                      role:
                        type: string
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                        isActive:
                          type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Admin - Users
      summary: Add subscription
      description: Add a subscription for a user (admin only)
      operationId: addUserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: integer
              required:
                - categoryId
      responses:
        '201':
          description: Subscription added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
                      isActive:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: User already subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    put:
      tags:
        - Admin - Users
      summary: Toggle subscription
      description: Toggle subscription active status (admin only)
      operationId: toggleUserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: integer
                isActive:
                  type: boolean
              required:
                - categoryId
                - isActive
      responses:
        '200':
          description: Subscription toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      isActive:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Users
      summary: Remove subscription
      description: Remove a subscription from a user (admin only)
      operationId: removeUserSubscription
      parameters:
        - name: categoryId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subscription removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  removed:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/documents/text:
    post:
      tags:
        - Admin - Documents
      summary: Upload text content
      description: Upload text content directly as a document (bypasses OCR)
      operationId: uploadTextDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Document name
                content:
                  type: string
                  minLength: 10
                  description: Text content (max 10MB)
                categoryIds:
                  type: array
                  items:
                    type: integer
                  description: Category IDs to assign
                isGlobal:
                  type: boolean
                  description: Index in all categories
              required:
                - name
                - content
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Content too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/documents/{docId}/reindex:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    post:
      tags:
        - Admin - Documents
      summary: Reindex document
      description: Reindex an existing document (re-extract and re-embed)
      operationId: reindexDocument
      responses:
        '202':
          description: Reindex started
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/settings:
    get:
      tags:
        - Admin - Settings
      summary: Get all settings
      description: Get all configurable settings (admin only)
      operationId: getSettings
      responses:
        '200':
          description: All settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  rag:
                    type: object
                    properties:
                      chunkSize:
                        type: integer
                      chunkOverlap:
                        type: integer
                      topK:
                        type: integer
                      cacheTTLSeconds:
                        type: integer
                  llm:
                    type: object
                    properties:
                      model:
                        type: string
                      temperature:
                        type: number
                      maxTokens:
                        type: integer
                  acronyms:
                    type: object
                    properties:
                      mappings:
                        type: object
                        additionalProperties:
                          type: string
                  tavily:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      cacheTTLSeconds:
                        type: integer
                  branding:
                    type: object
                    properties:
                      botName:
                        type: string
                      botIcon:
                        type: string
                  embedding:
                    type: object
                    properties:
                      model:
                        type: string
                      dimensions:
                        type: integer
                  reranker:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      provider:
                        type: string
                      topKForReranking:
                        type: integer
                      minRerankerScore:
                        type: number
                  uploadLimits:
                    type: object
                    properties:
                      maxFilesPerThread:
                        type: integer
                      maxFileSizeMB:
                        type: integer
                      allowedTypes:
                        type: array
                        items:
                          type: string
                  availableModels:
                    type: array
                    items:
                      type: string
                  modelPresets:
                    type: array
                    items:
                      type: object
                  brandingIcons:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      tags:
        - Admin - Settings
      summary: Update settings
      description: Update settings by type (admin only)
      operationId: updateSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - rag
                    - llm
                    - acronyms
                    - tavily
                    - uploadLimits
                    - retention
                    - preset
                    - branding
                    - embedding
                    - reranker
                    - restoreAllDefaults
                settings:
                  type: object
                  description: Settings object (varies by type)
              required:
                - type
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  settings:
                    type: object
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/system-prompt:
    get:
      tags:
        - Admin - Settings
      summary: Get system prompt
      description: Get the current system prompt with metadata (admin only)
      operationId: getSystemPrompt
      responses:
        '200':
          description: System prompt
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemPrompt:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  updatedBy:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    put:
      tags:
        - Admin - Settings
      summary: Update system prompt
      description: Update the system prompt (admin only)
      operationId: updateSystemPrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                systemPrompt:
                  type: string
                  minLength: 10
              required:
                - systemPrompt
      responses:
        '200':
          description: System prompt updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  systemPrompt:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  updatedBy:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/refresh:
    post:
      tags:
        - Admin - System
      summary: Reindex all documents
      description: Reindex all documents and clear cache (admin only)
      operationId: refreshAll
      responses:
        '202':
          description: Reindex started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  documentsQueued:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/stats:
    get:
      tags:
        - Admin - System
      summary: Get system statistics
      description: Get system statistics for the admin dashboard (admin only)
      operationId: getStats
      responses:
        '200':
          description: System statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  database:
                    type: object
                    properties:
                      users:
                        type: integer
                      categories:
                        type: integer
                      documents:
                        type: integer
                      threads:
                        type: integer
                      messages:
                        type: integer
                  chromadb:
                    type: object
                    properties:
                      collections:
                        type: integer
                      totalVectors:
                        type: integer
                  storage:
                    type: object
                    properties:
                      totalBytes:
                        type: integer
                      documentsBytes:
                        type: integer
                      threadsBytes:
                        type: integer
                      percentUsed:
                        type: number
                  recentActivity:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        description:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/providers:
    get:
      tags:
        - Admin - System
      summary: Check provider status
      description: Check the status and availability of configured LLM providers (admin only)
      operationId: getProviders
      responses:
        '200':
          description: Provider status
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: object
                    properties:
                      openai:
                        $ref: '#/components/schemas/ProviderStatus'
                      mistral:
                        $ref: '#/components/schemas/ProviderStatus'
                      ollama:
                        $ref: '#/components/schemas/ProviderStatus'
                      azure:
                        $ref: '#/components/schemas/ProviderStatus'
                  services:
                    type: object
                    properties:
                      embedding:
                        $ref: '#/components/schemas/ServiceStatus'
                      ocr:
                        $ref: '#/components/schemas/ServiceStatus'
                      audio:
                        $ref: '#/components/schemas/ServiceStatus'
                  usingProxy:
                    type: boolean
                  proxyUrl:
                    type: string
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/reranker-status:
    get:
      tags:
        - Admin - System
      summary: Check reranker status
      description: Check reranker availability (Cohere API and local transformers.js)
      operationId: getRerankerStatus
      responses:
        '200':
          description: Reranker status
          content:
            application/json:
              schema:
                type: object
                properties:
                  cohere:
                    type: object
                    properties:
                      available:
                        type: boolean
                      configured:
                        type: boolean
                      error:
                        type: string
                  local:
                    type: object
                    properties:
                      available:
                        type: boolean
                      model:
                        type: string
                      error:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /superuser/documents:
    get:
      tags:
        - Super User - Documents
      summary: List assigned documents
      description: Get documents in super user's assigned categories
      operationId: getSuperuserDocuments
      responses:
        '200':
          description: Documents list
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignedCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        filename:
                          type: string
                        size:
                          type: integer
                        status:
                          type: string
                          enum: [processing, ready, error]
                        uploadedBy:
                          type: string
                        uploadedAt:
                          type: string
                          format: date-time
                        categories:
                          type: array
                          items:
                            $ref: '#/components/schemas/CategoryAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Super user access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    post:
      tags:
        - Super User - Documents
      summary: Upload document
      description: Upload a document to one of super user's assigned categories
      operationId: uploadSuperuserDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 50MB)
                categoryId:
                  type: string
                  description: Category ID (must be assigned to super user)
              required:
                - file
                - categoryId
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
                  category:
                    type: object
                    properties:
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /superuser/documents/text:
    post:
      tags:
        - Super User - Documents
      summary: Upload text content
      description: Upload text content directly to one of super user's assigned categories
      operationId: uploadSuperuserTextDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Document name
                content:
                  type: string
                  minLength: 10
                  description: Text content (max 10MB)
                categoryId:
                  type: integer
                  description: Category ID (must be assigned to super user)
              required:
                - name
                - content
                - categoryId
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
                  category:
                    type: object
                    properties:
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /superuser/documents/{docId}:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    delete:
      tags:
        - Super User - Documents
      summary: Delete document
      description: Delete a document (only if uploaded by this super user)
      operationId: deleteSuperuserDocument
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      filename:
                        type: string
                      chunksRemoved:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Cannot delete this document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'

  /superuser/users:
    get:
      tags:
        - Super User - Users
      summary: List category users
      description: Get users subscribed to super user's assigned categories
      operationId: getSuperuserUsers
      responses:
        '200':
          description: Users list
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignedCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                          nullable: true
                        subscriptions:
                          type: array
                          items:
                            type: object
                            properties:
                              categoryId:
                                type: integer
                              categoryName:
                                type: string
                              isActive:
                                type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Super user access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    post:
      tags:
        - Super User - Users
      summary: Add subscription
      description: Add subscription for a user to one of super user's categories
      operationId: addSuperuserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userEmail:
                  type: string
                  format: email
                categoryId:
                  type: integer
              required:
                - userEmail
                - categoryId
      responses:
        '201':
          description: Subscription added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
                      isActive:
                        type: boolean
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: User already subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    delete:
      tags:
        - Super User - Users
      summary: Remove subscription
      description: Remove subscription from one of super user's categories
      operationId: removeSuperuserSubscription
      parameters:
        - name: userEmail
          in: query
          required: true
          schema:
            type: string
            format: email
        - name: categoryId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subscription removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  removed:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/tools:
    get:
      tags:
        - Admin - Tools
      summary: List all tools
      description: List all tools with their configurations (admin only)
      operationId: listTools
      responses:
        '200':
          description: List of tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tool'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Tools
      summary: Initialize tools
      description: Initialize all tools to default configurations (admin only)
      operationId: initializeTools
      responses:
        '200':
          description: Tools initialized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  tools:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/tools/{toolName}:
    parameters:
      - name: toolName
        in: path
        required: true
        schema:
          type: string
          example: "web_search"

    get:
      tags:
        - Admin - Tools
      summary: Get tool configuration
      description: Get specific tool configuration with audit history (admin only)
      operationId: getToolConfig
      responses:
        '200':
          description: Tool configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  tool:
                    $ref: '#/components/schemas/Tool'
                  configSchema:
                    type: object
                  defaultConfig:
                    type: object
                  auditHistory:
                    type: array
                    items:
                      type: object
                      properties:
                        operation:
                          type: string
                          enum: [create, update, delete]
                        oldConfig:
                          type: object
                        newConfig:
                          type: object
                        changedBy:
                          type: string
                        changedAt:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Admin - Tools
      summary: Update tool configuration
      description: Update tool configuration (admin only)
      operationId: updateToolConfig
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                config:
                  type: object
                reset:
                  type: boolean
                  description: Reset to defaults
      responses:
        '200':
          description: Tool updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  tool:
                    type: object
                    properties:
                      name:
                        type: string
                      enabled:
                        type: boolean
                      config:
                        type: object
                      updatedAt:
                        type: string
                        format: date-time
                      updatedBy:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/tools/{toolName}/test:
    parameters:
      - name: toolName
        in: path
        required: true
        schema:
          type: string

    post:
      tags:
        - Admin - Tools
      summary: Test tool
      description: Test tool connectivity and configuration (admin only)
      operationId: testTool
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  tool:
                    type: string
                  success:
                    type: boolean
                  message:
                    type: string
                  latency:
                    type: number
                  testedAt:
                    type: string
                    format: date-time
                  testedBy:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/skills:
    get:
      tags:
        - Admin - Skills
      summary: List all skills
      description: List all skills with settings (admin only)
      operationId: listSkills
      responses:
        '200':
          description: List of skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
                  settings:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      maxTotalTokens:
                        type: integer
                      debugMode:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Skills
      summary: Create skill
      description: Create a new custom skill (admin only)
      operationId: createSkill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                promptContent:
                  type: string
                triggerType:
                  type: string
                  enum: [always, category, keyword]
                triggerValue:
                  type: string
                categoryRestricted:
                  type: boolean
                isIndex:
                  type: boolean
                priority:
                  type: integer
                categoryIds:
                  type: array
                  items:
                    type: integer
              required:
                - name
                - promptContent
                - triggerType
      responses:
        '201':
          description: Skill created
          content:
            application/json:
              schema:
                type: object
                properties:
                  skill:
                    $ref: '#/components/schemas/Skill'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Skill already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    delete:
      tags:
        - Admin - Skills
      summary: Reset core skills
      description: Reset all core skills to their defaults (admin only)
      operationId: resetCoreSkills
      responses:
        '200':
          description: Core skills reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  restoredCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/skills/{skillId}:
    parameters:
      - name: skillId
        in: path
        required: true
        schema:
          type: integer

    put:
      tags:
        - Admin - Skills
      summary: Update skill
      description: Update an existing skill (admin only)
      operationId: updateSkill
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                promptContent:
                  type: string
                triggerType:
                  type: string
                  enum: [always, category, keyword]
                triggerValue:
                  type: string
                categoryRestricted:
                  type: boolean
                isIndex:
                  type: boolean
                priority:
                  type: integer
                isActive:
                  type: boolean
                categoryIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Skill updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  skill:
                    $ref: '#/components/schemas/Skill'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Skills
      summary: Delete skill
      description: Delete a skill (core skills cannot be deleted) (admin only)
      operationId: deleteSkill
      responses:
        '200':
          description: Skill deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
        '400':
          description: Cannot delete core skill
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/skills/preview:
    get:
      tags:
        - Admin - Skills
      summary: Preview skill activation
      description: Preview which skills would activate for a test message (admin only)
      operationId: previewSkillActivation
      parameters:
        - name: message
          in: query
          required: true
          schema:
            type: string
        - name: categoryIds
          in: query
          schema:
            type: string
            description: Comma-separated category IDs
      responses:
        '200':
          description: Skill activation preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  activatedSkills:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        triggerType:
                          type: string
                        triggerReason:
                          type: string
                  totalTokens:
                    type: integer
                  budgetRemaining:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/skills/settings:
    patch:
      tags:
        - Admin - Skills
      summary: Update skills settings
      description: Update skills system settings (admin only)
      operationId: updateSkillsSettings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                maxTotalTokens:
                  type: integer
                debugMode:
                  type: boolean
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      maxTotalTokens:
                        type: integer
                      debugMode:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /categories/{id}/prompt:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Category Prompts
      summary: Get category prompt
      description: Get category-specific prompt configuration
      operationId: getCategoryPrompt
      responses:
        '200':
          description: Category prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPrompt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Category Prompts
      summary: Update category prompt
      description: Update category-specific prompt configuration
      operationId: updateCategoryPrompt
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                promptAddendum:
                  type: string
                starterPrompts:
                  type: array
                  maxItems: 6
                  items:
                    $ref: '#/components/schemas/StarterPrompt'
      responses:
        '200':
          description: Category prompt updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPrompt'
        '400':
          description: Validation error (forbidden phrases, length limits)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Category Prompts
      summary: Reset category prompt
      description: Reset category prompt to global system prompt only
      operationId: resetCategoryPrompt
      responses:
        '200':
          description: Category prompt reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  categoryId:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /superuser/tools:
    get:
      tags:
        - Super User - Tools
      summary: List tools with overrides
      description: View tools with category-level overrides for assigned categories
      operationId: getSuperuserTools
      responses:
        '200':
          description: Tools with category overrides
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                        globalEnabled:
                          type: boolean
                        categories:
                          type: array
                          items:
                            type: object
                            properties:
                              categoryId:
                                type: integer
                              categoryName:
                                type: string
                              isEnabled:
                                type: boolean
                                nullable: true
                              effectiveEnabled:
                                type: boolean
                              branding:
                                type: object
                  assignedCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Superuser access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /superuser/tools/{toolName}:
    parameters:
      - name: toolName
        in: path
        required: true
        schema:
          type: string

    post:
      tags:
        - Super User - Tools
      summary: Set category tool override
      description: Create or update category-level tool override
      operationId: setCategoryToolOverride
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: integer
                isEnabled:
                  type: boolean
                  nullable: true
                  description: null to inherit from global
                branding:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    logoUrl:
                      type: string
                    organizationName:
                      type: string
                    primaryColor:
                      type: string
              required:
                - categoryId
      responses:
        '200':
          description: Override set
          content:
            application/json:
              schema:
                type: object
                properties:
                  categoryId:
                    type: integer
                  toolName:
                    type: string
                  isEnabled:
                    type: boolean
                    nullable: true
                  branding:
                    type: object
                  effectiveEnabled:
                    type: boolean
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'
